@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --primary-color: #0B294C;
  --secondary-color: #FC8E44;
  --text-color: #1d1d1d;
  --text-light:#6C6C6C;
  --accent-color: #fff;
  --light-bg:#F0F0F0;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}


/* Utility class for centering sections */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}


/* homepage (navbar) */

.navbar {
  height: 7rem;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.logo {
  width: 9.2rem;
  height: auto;
}

.nav-links{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  transition: 140ms ease-in;
}

.nav-links a:hover{
  color: var(--secondary-color);
}

.nav-links .cta-btn{
  font-family: "montserrat", sans-serif;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: var(--accent-color);
  border: none;
  transition: 140ms ease-in;
  cursor: pointer;
}

.nav-links .cta-btn:hover{
  background-color: var(--secondary-color);
}

.navbar .menu-toggle{
  width: 2rem;
  height: auto;
  display: none;
}


main, section {
  margin-top: 8rem; /* Slightly larger than your navbar height */
}


/* homepage (hero) */

.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin-top: 8rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-section .hero-text h1{
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--text-color);
}
.hero-section .hero-text p{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-light);
}



.hero-section .hero-btn{
  font-family: "montserrat", sans-serif;
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  border-radius: .5rem;
  color: var(--accent-color);
  border: none;
  transition: 140ms ease-in;
  cursor: pointer;
}

.hero-section .hero-btn:hover{
  background-color: var(--secondary-color);
}

.hero-section .hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.hero-section .hero-img img{
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover; /* Crops the image to fill the container while maintaining aspect ratio */
  object-position: 50% 50%; /* Centers the cropped area (adjust as needed) */
}



.hero-section .choose-us{
  display: flex;
  background-color: var(--primary-color);
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
}

.hero-section .choose-us h5{
  color: var(--secondary-color);
  font-size: 2.4rem;
  font-weight: 500;
}
.hero-section .choose-us p{
  color: var(--accent-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.hero-section .choose-us .choose-reply{
  display: flex;
  align-items: center;
  gap: 5rem;
}




/* homepage (about us) */

.about-us{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about-us h2{
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color);
}
.about-us p{
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: var(--text-light);
}

.about-us button{
  font-family: "montserrat", sans-serif;
  background-color: var(--primary-color);
  padding: 1.5rem 3rem;
  border-radius: .5rem;
  color: var(--accent-color);
  border: none;
  transition: 140ms ease-in;
  cursor: pointer;
}

.about-us button:hover{
  background-color: var(--secondary-color);
}



/* homepage (services) */

.services{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.service-header{
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.service-header h2{
  font-size: 3.6rem;
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
}

.service-header p{
  font-size: 1.4rem;
  color: var(--text-light);
  font-weight: 500;
  text-align: center;
}


.services .services-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35.6rem, 1fr));
  gap: 2rem;
}


.services .services-container .service-card{
  height: 20.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 7rem 3rem;
  background-color: var(--light-bg);
  gap: 2rem;
  border-radius: 1rem;
}

.services .services-container .service-card h3{
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.services .services-container .service-card p{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  text-align: left;
}



/* homepage (testimonials) */

.testimonials {
  padding: 6rem 0;
  overflow: hidden;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonial-header{
  margin-bottom: 5rem;
}

.testimonial-header p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-light);
}
.testimonial-header h2{
  font-size: 4.6rem;
  font-weight: 500;
  color: var(--primary-color);
}


/* styling the slider container */

.testimonial-slider {
  width: 100%;
  overflow-x: auto;
  position: relative;
  display: flex;
}

.testimonial-slider::-webkit-scrollbar{
  display: none;
}

.slider-track {
  display: flex;
  animation: scroll 60s linear infinite;
  /* The width should match the total width of both sets of slides for seamless looping */
}


/* styling the cards */

.slide {
  flex: 0 0 40rem;
  background: var(--primary-color);
  border-radius: 1rem;
  padding: 5rem 4rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 1rem;

}

.slide h3{
  color: var(--secondary-color);
  font-size: 1.4rem;
  text-align: left;
  font-weight: 500;

}

.slide p{
  color: var(--accent-color);
  font-size: 1.6rem;
  text-align: left;
  font-weight: 300;
  margin-bottom: 1rem;
}




/* Infinite scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



/* footer styling */

.footer {
  background-color: var(--primary-color);
  width: 100%;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 2rem;
  box-sizing: border-box;
}


.footer-left .logo {
  width: 9.2rem;
  height: auto;
}

.footer-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.footer-left p{
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 40rem;
  opacity: 0.5;
}

.socials-links{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.socials img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 140ms ease-in;
}

.socials a:hover{
  filter: brightness(0) saturate(150%) invert(73%) sepia(46%) saturate(1500%) hue-rotate(340deg) brightness(101%) contrast(99%);
  transform: scale(1.1);
}


.footer-right{
  display: flex;
  gap: 10rem;
}

.footer-right h3{
  color: var(--accent-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.socials{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link-wrapper a{
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.4rem;
  font-weight: 400;
  transition: 140ms ease-in;
  opacity: 0.5;
}

.link-wrapper a:hover{
  opacity: 1;
  font-weight: 500;
}














/* homepage (media query min laptop) */

@media screen and (max-width:1280px){
  .main-container{
    padding: 0 5%;
  }

  .navbar{
    width: 100%;
    padding: 0 5%;
  }

  .footer-wrapper{
    padding: 5rem 5%;
  }
}




/* homepage (media query tablet) */

@media screen and (max-width:1020px) {
  
  .main-container{
    padding: 0 3%;
  }
  .navbar{
    width: 100%;
    padding: 5%;
  }
  .navbar .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 6rem;
    gap: 2rem;
    right: 0;
    background: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 0;
    height: 50vh;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 700rem;
  }

  .nav-links a {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .cta-btn {
    margin: 1rem 0;
  }


  .hero-section .hero-img img{
  width: auto;
  height: 22rem;
  border-radius: 1rem;
}

.hero-section .choose-us{
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-section .choose-us h5, p{
  text-align: center;
}

 .footer-wrapper {
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 5vw;
  }

  .footer-left{
    align-items: center;
    text-align: center;
  }

  .footer-left p{
    max-width: 90%;
  }

  .footer-right{
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
  }

  .link-wrapper{
    flex-direction: row;
  }

}




/* homepage ( media query phone) */

@media screen and (max-width:600px) {

  .main-container{
    width: 95%;
  }
  
.hero-section .hero-img{
  display: flex;
  flex-direction: column;
  width: 100%;
 } 

.hero-section .hero-img img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.hero-section .choose-us{
  width: 100%;
  padding: 5rem 0;
}

.hero-section .choose-us .choose-reply{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-wrapper{
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 5vw;
}

 .footer-right{
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  .footer-right h3{
    text-align: center;
  }

}
